.about {
    margin: 0 auto;
    max-width: 1000px;

    &__heading {
        text-align: center;
        padding: 50px;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__text {
        max-width: 400px;
        min-width: 300px;
        font-size: 20px;
        padding-top: 50px;
        margin: 0 auto;
    }

}
