.cards {
    margin: 0 auto;

    &__heading {
        text-align: center;
        padding: 50px;
    }

    &__card {
        margin: 0 auto;
        border: none;
        margin-top: 20px;
        filter: drop-shadow(0 0 0.35rem grey);
    }

    &__button {
        background-color: orange;
        border: none;
    }
}