.footer {
    display: flex;
    align-items: center;
    height: 165px;
    background-color: white;
  
    .icons {
      display: flex;
  
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
  
      svg {
        margin-right: 15px;
      }
    }
  
    .footer-text {
      display: flex;
      justify-content: space-between;
  
      p {
        display: inline;
      }
    }
  
    .container {
      display: flex;
      width: 100%;
      margin: 0 auto;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        .footer-text {
          margin-top: 20px;
        }
      }
    }
  }
  